PORT=3000
# For running app on host machine:
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/earnly?schema=public
# For docker-compose api service:
DATABASE_URL_DOCKER=postgresql://postgres:postgres@postgres:5432/earnly?schema=public